@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(./fonts/Ubuntu-Medium.ttf);
}
*{
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
}